.admin-container {
    width: 98%;
    height: 800px;
    margin: 10px;
    border: 1px solid #555;
  }

.mat-drawer {
    background-color: rgb(159, 180, 173);
    padding: 10px;
    width: 20%;
}
.mat-drawer-content {
    padding: 10px;
    background-color: rgb(115, 188, 236);
}